.pano_container {
    width: 250px;
    height: 100%;
    overflow-y: scroll;
    padding: 50px 0 0 0;
    pointer-events: all;
}

.pano_thumb {
    margin-bottom: 5px 0;
    border: none;
    width: 100%;
    height: 125px;
    background-size: contain;
    background-position: center;
}

.dropdown_item {
    cursor: pointer;
}

.dropdown_item:hover {
    background: gray;
    color: white;
}

li {
    padding-left: 10px;
}

.PanoName {
    left: 40vw;
    color: white;
}

.panel_bottom {
    right: 0;
    width: 350px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    display: none;
}

.width-50 {
    width: 40%;
}

.slider {
    margin: 10px;
}