:root {
    --accent: #C1D82F;
    --accent_translucent: rgba(193, 216, 47, 0.6);
}

html, body {
    margin: auto;
    padding: 0;
    width: 100vw;
    overflow: hidden;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.accent_color {
    color: var(--accent);
}

.accent_background {
    background: var(--accent);
}

.accent_background_translucent {
    background: var(--accent_translucent);
}

.tata_motors_logo {
    width: 110px;
    height: auto;
    padding: 5px;
}

.splash_screen {
    width: 100vw;
    height: 100vh;
    padding-top: 32.5vh;
    padding-left: 25%;
}

.splash_logo {
    width: 50vw;
    height: 20vh;
}

.user_decision {
    width: 50vw;
    font-size: 12px;
    margin-top: 15px;
    color: gray;
}

.loading_spinner {
    display: block;
    opacity: 0;
    margin-left: 19vw;
    margin-top: 20vh;
}

.landing_page {
    display: none;
    opacity: 0;
    padding: 15px;
    backdrop-filter: blur(2px);
    height: 100vh;
}

.float-right {
    float: right;
}

.right {
    right: 0;
}

.menu_icon {
    margin: 0em;
}

.bg {
    background-image: url("./images/Image\ 2.jpg");
    /* height: 100vh; */
    display: none;
    background-size: cover;
    background-position: center;
}

.white {
    color: white;
}

.store_start {
    margin-top: 38vh;
    color: white;
    text-align: center;
    padding: 0;
}

.button {
    font-size: 12px;
    padding: 10px;
    color: var(--accent);
    font-weight: bolder;
    /* border: none; */
}

.uppercase {
    text-transform: uppercase;
}

.absolute {
    position: absolute;
}

.top {
    top: 0;
}

.left {
    left: 0;
}

.menu {
    width: 100vw;
    padding: 15px;
    z-index: 100;
    display: none;
}

.canvas, .canvas2 {
    z-index: 0;
    /* display: none; */
}

.canvas2 {
    display: none;
}

.sidebar {
    width: 100vw;
    height: 100vh;
    z-index: 101;
    /* backdrop-filter: blur(2px); */
    display: none;
    opacity: 0;
}

.right {
    right: 0;
}

.side_menu {
    width: 60vw;
    height: 100vh;
    background: var(--accent_translucent);
    /* backdrop-filter: blur(0.8) brightness(0.5); */
    backdrop-filter: blur(5px) grayscale(100%);
    right: -60vw;
    padding: 25px;
    overflow-y: scroll;
    pointer-events: all;
}

.side_menu::-webkit-scrollbar {
    display: none;
}

.material-icons {
    cursor: pointer;
    font-size: 30px;
    color: black;
    margin: 0;
}

.width-100 {
    width: 100%;
}

.profile_icon {
    font-size: 40px;
}

.menu_text {
    color: white;
    line-height: 10px;
    font-weight: lighter;
}

.profile_options, .car_list_options, .support_options {
    margin-bottom: 20px;
}

.menu_header {
    margin: 20px 0 25px 0;
    color: white;
}

hr {
    margin: 0;
    color: white;
    background-color: white;
}

.pano_options {
    right: 15px;
    bottom: 15px;
    display: none;
    width: 30px;
    z-index: 101;
}

.pano_control {
    font-size: 26px;
    margin-top: 15px;
}

model-viewer {
    width: 100%;
    height: 100%;
    background: slategray;
    margin: 15px 0;
}

.appModes {
    z-index: 150;
    left: 15px;
    bottom: 50px;
    font-size: 30px;
    /* display: none; */
}

.bottom {
    bottom: 0;
}

.ar_btn {
    vertical-align: unset;
}

#ar {
    display: none;
}

.animate {
    transition: all 250ms;
}

.block {
    display: block;
}

.appModes {
    display: none;
}

.appMode {
    /* margin-top: 5px; */
}

.side_menu_landscape {
    width: 40vw;
}

#fullscreen {
    position: absolute;
    bottom: 45px;
    right: 12px;
    margin-bottom: 10px;
}

.product360 {
    display: none;
    width: 100vw;
    height: 100vh;
    padding-top: calc((100vh - 100vw)/2);
    margin-left: 0;
    z-index: 110;
}

.product360_landscape {
    width: 100vw;
    height: 100vh;
    margin-top: 0;
    padding-left: calc((100vw - 100vh)/2);
}

.product360Viewer {
    width: 100vw;
    height: auto;
}

.product360Viewer_landscape {
    height: 100vh;
    width: auto;
}

.loading_spinner_2, .loading_spinner_3 {
    width: 5vw;
    height: 5vw;
    position: absolute;
    top: 50vh;
    left: calc((100vw - 5vw)/2);
    display: none;
    margin: 0;
}

.loading_spinner_3 {
    display: block;
}

.spinner {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    backdrop-filter: blur(2px);
    display: none;
}

.finish_btn {
    width: 100px;
    height: 50px;
}

.comparision_desk {
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: none;
}

.appMode img {
    border-radius: 5px;
    margin-right: 5px;
}

.rotation3d {
    padding: 20px;
    z-index: 110;
}

.product_details {
    z-index: 100;
    left: 0;
    top: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    padding: 10vw;
    z-index: 102;
}

.small_text {
    font-size: 10px;
    position: absolute;
    width: 100vw;
    left: 0;
    margin-top: 10px;
}

.product_content {
    width: 80vw;
    height: calc(100vh - 20vw);
    background: white;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 5vw;
}

.product_title {
    font-weight: bolder;
}

.discounted_price {
    text-decoration: line-through;
    margin: 0;
    font-size: 14px;
    color: grey;
    font-weight: bold;
}

.price, .cart_title {
    color: var(--accent);
    font-weight: bolder;
    font-size: 20px;
    margin: 0em;
}

.discount {
    font-size: 10px;
    margin-bottom: 10px;
}

.model {
    width: 70vw;
    height: 75vw;
    /* background: var(--accent); */
    margin-top: 10px;
}

.content {
    margin-top: 10px;
}

.description {
    font-size: 12px;
    text-align: justify;
    overflow-y: scroll;
    height: 20vh;
}

.button {
    border: none;
    color: white;
    background: var(--accent);
    margin: auto;
}

.cart {
    left: 10vw;
    top: 10vw;
    width: 80vw;
    height: calc(100vh - 20vw);
    background: white;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 102;
    padding: 5vw;
    display: none;
}

.cart_title {
    color: black;
}

.header {
    width: 100vw;
    left: 0;
    top: 0;
    display: none;
}

.padding-10 {
    padding: 10px;
}

.xrSuccess {
    background: var(--accent);
    color: white;
}

.image_label {
    width: 100%;
    height: auto;
}

.plusMinus {
    position: relative;
    top: 2px;
}

.small_text {
    font-size: 14px;
}

.items {
    margin: 10px 0;
}

.cont {
    height: calc(90vh - 20vw);
}

.checkout {
    height: 10vh;
    text-align: center;
}

.popup {
    width: 15px;
    height: 15px;
    background: var(--accent);
    color: white;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    top: 30px;
    height: 20px;
    text-align: center;
    width: 20px;
    font-size: 12px;
}

.crosshair {
    position: absolute;
    left: calc(50vw - 15px);
    top: calc(50vh - 15px);
    z-index: 105;
    color: black;
    pointer-events: none;
    opacity: 0;
}

.grid {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

.crosshair_btn {
    z-index: 125;
}

.latitude {
    width: 100vw;
}

@media (max-width: 768px) {
    .splash_logo {
        height: auto;
    }
  }