<div class="canvas"></div>

<div class="dropdown absolute top left">
    <button class="btn btn-primary dropdown-toggle width-100" type="button" data-toggle="dropdown">Select Panorama
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li class="dropdown_item" ng-repeat="content in MasterData.Pano" ng-click="ChangePano()">{{content.Name}} </li>
    </ul>
</div>

<form class="panel_bottom absolute bottom form-group">
    <div class="form-group form-row">
        <div class="col-5">
            Hotspot Type:
        </div>
        <div class="col-7">
            <!-- <div class="form-check">
                <input class="form-check-input" type="radio" name="Hotspot" id="TextHotspot" value="TextHotspot" ng-click="HotspotTypeSelected()">
                <label class="form-check-label" for="TextHotspot">Text Hotspot</label>
            </div> -->
            <!-- <div class="form-check">
                <input class="form-check-input" type="radio" name="Hotspot" id="VideoWall" value="VideoWall"  ng-click="HotspotTypeSelected()">
                <label class="form-check-label" for="VideoWall">Video Wall</label>
            </div> -->
            <!-- <div class="form-check">
                <input class="form-check-input" type="radio" name="Hotspot" id="Model" value="Model"  ng-click="HotspotTypeSelected()" checked>
                <label class="form-check-label" for="Model">Model</label>
            </div> -->
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Hotspot" id="Panorama" value="Panorama"  ng-click="HotspotTypeSelected()">
                <label class="form-check-label" for="Panorama">Panorama</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Hotspot" id="Information" value="Information"  ng-click="HotspotTypeSelected()">
                <label class="form-check-label" for="Information">Information</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Hotspot" id="Interaction" value="Interaction"  ng-click="HotspotTypeSelected()">
                <label class="form-check-label" for="Interaction">Interaction</label>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <input type="text" class="name form-control width-100 margin-bottom-10" placeholder="Hotspot Name" ng-model="HotspotName">
    </div>
    <div class="form-group">
        <input type="text" class="text form-control width-100 margin-bottom-10" placeholder="Hotspot Text" ng-model="HotspotText">
    </div>
    <!-- <div class="form-group"  ng-if="(HotspotType == 'VideoWall')">
        <label for="VideoWallData">Select Video for VideoWall</label>
        <select name="VideoWall" class="form-control" id="VideoWallData" ng-click="SelectVideoWallVideo()">
            <option value="{{video.Url}}" ng-repeat="video in MasterData.VideoWalls">{{video.Url.split('/')[2]}}</option>
        </select>
    </div> -->
    <!-- <div class="form-group"  ng-if="(HotspotType == 'Model')">
        <label for="ModelHotspotTexture">Select Texture for Model Hotspot</label>
        <select name="ModelHotspotTexture" class="form-control" id="ModelHotspotTexture" ng-click="SelectHotspotTexture()">
            <option value="{{video.Url}}" ng-repeat="video in MasterData.TextHotspots">{{video.Url.split('/')[2]}}</option>
        </select>
    </div> -->
    <div class="form-group"  ng-if="(HotspotType == 'Panorama')">
        <label for="ModelHotspotTexture">Select Texture for Panorama Hotspot</label>
        <select name="ModelHotspotTexture" class="form-control" id="PanoHotspotTexture" ng-click="SelectHotspotTexture()">
            <option value="{{video.Url}}" ng-repeat="video in MasterData.PanoHotspots">{{video.Url.split('/')[2]}}</option>
        </select>
    </div>
    <div class="form-group"  ng-if="(HotspotType == 'Information')">
        <label for="ModelHotspotTexture">Select Texture for Information Hotspot</label>
        <select name="InfoHotspotTexture" class="form-control" id="InfoHotspotTexture" ng-click="SelectHotspotTexture()">
            <option value="{{video.Url}}" ng-repeat="video in MasterData.InfoHotspots">{{video.Url.split('/')[2]}}</option>
        </select>
    </div>
    <div class="form-group"  ng-if="(HotspotType == 'Interaction')">
        <label for="InteractionHotspotTexture">Select Texture for Interactive Hotspot</label>
        <select name="InteractionHotspotTexture" class="form-control" id="InteractionHotspotTexture" ng-click="SelectHotspotTexture()">
            <option value="{{video.Url}}" ng-repeat="video in MasterData.InteractiveHotspots">{{video.Url.split('/')[2]}}</option>
        </select>
    </div>
    <div class="form-group"  ng-if="(HotspotType == 'Information')">
        <label for="ModelHotspot">Select Target for Model Hotspot</label>
        <select name="ModelHotspot" class="form-control" id="ModelHotspot" ng-click="SelectHotspotTarget()">
            <option value="{{MasterData.Models.indexOf(model)}}" ng-repeat="model in MasterData.Models">{{model.Name}}</option>
        </select>
    </div>
    <div class="form-group"  ng-if="(HotspotType != 'Information')">
        <label for="PanoramaHotspot">Select Target for Panorama Hotspot</label>
        <select name="Panorama" class="form-control" id="PanoramaHotspot" ng-click="SelectHotspotTarget()">
            <option value="{{MasterData.Pano.indexOf(pano)}}" ng-repeat="pano in MasterData.Pano">{{pano.Name}}</option>
        </select>
    </div>

    <div class="form-group form-row">
        <div class="col-4">Rotation: </div>
        <div class="col-8"><div class="RotationSlider slider"></div></div>
    </div>
    <div class="form-group form-row">
        <div class="col-4">Scale: </div>
        <div class="col-8"><div class="ScaleSlider slider"></div></div>
    </div>
    <div class="form-group form-row">
        <div class="col-4">X: </div>
        <div class="col-8"><div class="xSlider slider"></div></div>
    </div>
    <div class="form-group form-row">
        <div class="col-4">Y: </div>
        <div class="col-8"><div class="ySlider slider"></div></div>
    </div>
    <div class="form-group form-row">
        <div class="col-4">Z: </div>
        <div class="col-8"><div class="zSlider slider"></div></div>
    </div>
    <div class="form-group form-row">
        <div class="col-6">
            <button class="btn btn-primary form-control" ng-click="ApplyDetails()">Apply</button>
        </div>
        <div class="col-6">
            <button class="btn btn-success form-control" ng-click="SaveData()">Finish</button>
        </div>
    </div>
</form>

<div class="absolute top right finish_btn">
    <div class="form-group">
        <button class="btn btn-success form-control" ng-click="SaveData()">Finish</button>
    </div>
</div>

<div class="crosshair">
    <i class="material-icons">
        gps_fixed
    </i>
</div>

<div class="crosshair grid" style="background: url(./icons/grid.svg); pointer-events: none;">
    <img src="" alt="" class="img-fluid">
</div>

<button class="btn btn-warning crosshair_btn absolute left bottom" ng-click="setNorth()">Set North</button>