<div class="splash_screen">
    <img src="{{MasterData.Logo}}" alt="" class="img-fluid splash_logo">
    <div class="spinner-border loading_spinner accent_color" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <p class="text-center small_text">
        Loading Virtual Showroom
    </p>
</div>

<div class="canvas"></div>

<div class="absolute pano_options">
    <i class="material-icons white pano_control block fullscreen" ng-click="fullscreen()" data-toggle="0" ng-if="!(isIphone)">
        fullscreen
    </i>
    <i class="material-icons white pano_control toggleHotspot block" data-toggle="0" ng-click='enableHotspotToggleBtn()'>
        radio_button_unchecked
    </i>
    <i class="material-icons white pano_control togglegyro block" data-toggle="0" ng-click="Gyro()">
        3d_rotation
    </i>
</div>

<div class="spinner">
    <div class="spinner-border loading_spinner_3 accent_color" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="absolute product_details">
    <i class="material-icons close" ng-click="close_model()">close</i>
    <div class="product_content">
        <div class="product_title text-center">
            {{CurrentProduct.Alias}}
        </div>
        <div class="model"></div>
        <div class="content">
            <p class="discounted_price text-center">
                {{'₹ '+ CurrentProduct.Price}}
            </p>
            <p class="price text-center">
                {{'₹ '+ (CurrentProduct.Price - ((CurrentProduct.Price*CurrentProduct.PercentageDiscount)/100))}}
            </p>
            <p class="discount text-center">
                {{'Save ₹ '+ ((CurrentProduct.Price*CurrentProduct.PercentageDiscount)/100) + ' ('+CurrentProduct.PercentageDiscount +'% off)'}}
            </p>
            <div class="form-group text-center">
                <button class="button" ng-click="AddToCart()">Add to Cart</button>
            </div>
            <p class="description">
                {{CurrentProduct.Description}}
                <br><br>
                <span ng-repeat="item in CurrentProduct.Specification">
                    <strong>
                        {{item.split(':')[0]}}
                    </strong>
                    {{item.split(':')[1]}}
                    <br>
                </span>
            </p>
        </div>
    </div>
</div>

<div class="cart absolute">
    <div class="cont">
        <i class="material-icons close" ng-click="CloseCart()">close</i>
        <p class="cart_title text-center">
            Shopping Cart
        </p>
        <div class="total_amount text-center price">
            Total: {{Cart.Total}}
        </div>
        <div class="items" ng-repeat="item in MasterData.Models" ng-if="item.Quantity">
            <div class="row">
                <div class="col-12">
                    <p class="discounted_price" style="text-decoration: none;">
                        {{item.Name}}
                    </p>
                </div>
                <div class="col-4 image_label">
                    <img src="{{item.ImagesPath}}" alt="" class="img-fluid">
                </div>
                <div class="col-8" style="font-size: 14px;">
                    {{'₹ '+ (item.Price - ((item.Price*item.PercentageDiscount)/100))}}
                    <br>
                    Quantity: 
                    <i class="material-icons discount plusMinus" ng-click="add_remove('add')">remove</i>
                    {{item.Quantity}}
                    <i class="material-icons discount plusMinus" ng-click="add_remove('remove')">add</i>
                </div>
            </div>
        </div>
    </div>

    <div class="checkout">
        <button class="button">Checkout</button>
    </div>
</div>

<div class="header absolute">
    <div class="row">
        <div class="col">
            <img src="./icons/HC logo-03.svg" alt="" class="img-fluid text-left padding-10" style="width: 50vw; height: auto;">
        </div>
        <div class="col text-right" style="position: relative;">
            <i class="material-icons accent_color padding-10" ng-click="open_cart()">shopping_cart</i>
            <span class="popup" ng-if="popup.Cart">
                {{popup.Cart}}
            </span>
        </div>
    </div>
</div>